{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Well Name</th>
            <th>Measured Depth</th>
            <th>Inclination</th>
            <th>Azimuth</th>
        </tr>
    </thead>
    <tbody>
{% for survey in surveys %}
      <tr>
            <td>
            <a href="{% url 'surveys:detail' survey.id %}">{{ survey.well }}</a>
            </td>
            <td>{{ survey.measured_depth }}</td>
            <td>{{ survey.inclination }}</td>
            <td>{{ survey.azimuth }}</td>
        </tr>
{% endfor %}  
    </tbody>
    </table>
{% endblock  %}
